*

{

    margin: 0;

    padding: 0;

}
.full-page

{
    height: 800px;

    width: auto;

    background-image: url(bg_fac.jpeg);

    background-attachment: fixed;

    background-position: center;

    position: relative;

    overflow: hidden;


}

.heading{
   padding-bottom: 20px;
  color: black;
}

.contact{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 20em;
}
.row{

  text-align:center;
}
.row2{
  font-style: normal;
  font-family: Forte;
  color: black;
  font-size: 25px;
}
.row3{
  border: solid;
  height: 600px;
  width: 300px;
    padding: 10px;
}
.container3 {
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.container3:nth-of-type(even) {
    transform: translateX(-400%);
}
